{% load static %}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<title>{% block head_title %}{% endblock %}</title>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
<style>
    body{
        direction: rtl;
        background-color:#D5DBDB;
        line-height: 20px;
        max-width: max-content;
        font-size: large;
        max-width: 100%;
    }
</style>

</head>
<body>

{% include 'header.html' %}

{% block content %}{% endblock %}




</body>
</html>
