<footer id="footer" class="mt-12 p-4 bg-slate-400">
    <div class="flex flex-wrap justify-between">
        <div class="item">
            <h5 class="title">منوی اول</h5>
            <div class="content">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
            </div>
        </div>
        <div class="item">
            <h5 class="title">منوی اول</h5>
            <div class="content">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
            </div>
        </div>
        <div class="item">
            <h5 class="title">منوی اول</h5>
            <div class="content">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
            </div>
        </div>
        <div class="item">
            <h5 class="title">ما در شبکه های اجتماعی</h5>
            <div class="content h-full">
                <ul class="h-full flex justify-center items-center text-lg leading-10">
                    <li class="ml-1">
                        <a href="#" class="block w-[35px] h-[35px] text-center text-white bg-slate-500 rounded-full">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="ml-1">
                        <a href="#" class="block w-[35px] h-[35px] text-center text-white bg-blue-600 rounded-full">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="ml-1">
                        <a href="#" class="block w-[35px] h-[35px] text-center text-white bg-purple-500 rounded-full">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li class="ml-1">
                        <a href="#" class="block w-[35px] h-[35px] text-center text-white bg-blue-400 rounded-full">
                            <i class="fa fa-telegram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="block w-[35px] h-[35px] text-center text-white bg-red-500 rounded-full">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="mt-10">
    <p class="font-[IRANSans] text-[12px] text-white text-center pt-2">تمام حقوق این وبسایت محفوظ می باشد.</p>
</footer>