<!DOCTYPE html>
{% load static %}
<html lang="fa-IR" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لندینگ</title>
    <meta name="description" content="توضیحات صفحه">
    <link rel="stylesheet" href="{% static 'asse/styles/main.css' %}">
</head>

<body>
    <header class="bg-gr">
        <nav class="bg-[#2d3748]/25 h-[55px]">
            <div class="container h-full relative">
                <div class="flex justify-between items-center h-full">
                    <!--logo and navigation-->
                    <div class="flex justify-center md:justify-between items-center">
                        <div>
                        <img class="bg-no-repeat w-38 h-10" src="{% static 'assets/images/plus.jpg' %}" width="50px" alt="پایتون پلاس">
                       
                        </div>
                        <div class="mr-4 hidden md:block">
                            <ul class="flex items-center">
                                <li>
                                    <a href="#">متن پیشفرض</a>
                                </li>
                                <li class="mr-4">
                                    <a href="#">متن پیشفرض</a>
                                </li>
                                <li class="mr-4">
                                    <a href="#">متن پیشفرض</a>
                                </li>
                                <li class="mr-4">
                                    <a href="#">متن پیشفرض</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--login reg-->
                    <div class="flex items-center">
                        <div class="text-[15px] md:text-[13px]">
                            <a href="#"
                                class="px-5 py-2 rounded-lg text-center md:text-[#00bcef] md:border md:border-[#00bcef]">
                                <i class="fa fa-sign-in md:hidden"></i>
                                <span>ورود</span>
                            </a>
                        </div>
                        <div class="mr-2 hidden md:block">
                            <a href="{% url 'askes:order_create' %}" class="px-5 py-2 rounded-lg text-white text-center bg-[#00bcef]">عضویت</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="py-10 text-[#CBD5E0]">
            <h2 class="text-[50px] md:text-[100px] font-bold md:font-black text-center">جامپ بک‌اند با جنگو</h2>
            <div class="text-[17px] md:text-[20px] font-bold text-center mt-3">از پایتون تا هرآنچه نیاز است برای استخدام
                شدن به‌عنوان
                توسعه‌دهنده جنگو یاد بگیرید.</div>
            <div class="mt-12 flex justify-center items-center">
                <div class="flex items-center text-[14px]">
                    <div class="flex items-center pl-4 ml-4 border-l border-l-white/10">
                        <div class="fa fa-tasks text-[22px]"></div>
                        <div class="font-[IRANYekanDigits] pr-2">20 فصل</div>
                    </div>
                    <div class="flex items-center pl-4 ml-4 border-l border-l-white/10">
                        <div class="fa fa-sticky-note text-[22px]"></div>
                        <div class="font-[IRANYekanDigits] pr-2">45 تمرین</div>
                    </div>
                    <div class="flex items-center">
                        <div class="fa fa-check-circle-o text-[22px]"></div>
                        <div class="font-[IRANYekanDigits] pr-2">گواهی معتبر</div>
                    </div>
                </div>
            </div>
            <div class="mt-12 flex justify-center">
                <a href="#" class="w-[250px] py-2 rounded-lg text-white text-center text-[22px] bg-[#0076a6]">ثبت
                    نام</a>
            </div>
        </section>
        <!--details-->
        <div class="bg-[#1A202C]">
            <div class="container">
                <div
                    class="flex flex-col md:flex-row justify-between items-center text-center py-8 md:py-0 md:h-[200px]">
                    <div class="font-[IRANYekanDigits]">
                        <div class="text-white text-[23px] md:text-[30px] font-black">
                            19,000+
                        </div>
                        <div class="text-white/70 md:text-[15px] mt-4">
                            وب‌سایت مبتنی بر جنگو در سراسر دنیا
                        </div>
                    </div>
                    <div class="font-[IRANYekanDigits]">
                        <div class="text-white text-[23px] md:text-[30px] font-black">
                            15,000,000 تومان
                        </div>
                        <div class="text-white/70 md:text-[15px] mt-4">
                            حداقل میزان درآمد ماهانه متخصص جنگو
                        </div>
                    </div>
                    <div class="font-[IRANYekanDigits]">
                        <div class="text-white text-[23px] md:text-[30px] font-black">
                            98,000 یورو
                        </div>
                        <div class="text-white/70 md:text-[15px] mt-4">
                            میانگین درآمد سالانه یک Django Developer در اروپا
                        </div>
                    </div>
                    <div class="font-[IRANYekanDigits]">
                        <div class="text-white text-[23px] md:text-[30px] font-black">
                            محبوب‌ ترین
                        </div>
                        <div class="text-white/70 md:text-[15px] mt-4">
                            فریم‌ورک وب مبتنی بر زبان پایتون
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--details 2-->
    <!-- <div class="relative">
        <div class="bg-gr2 h-[200px]"></div>
    </div> -->
    <!--content-->
    <div class="mt-[100px]">
        <div class="md:container">
            <div class="md:flex relative">
                <section class="w-full">
                    <div class="w-full md:w-11/12 text-[14px] leading-9">
                        <div class="bg-[#171923] sticky top-0">
                            <nav class="content-links py-0 md:py-3 border-b border-b-white/10">
                                <ul class="flex flex-nowrap overflow-x-auto md:overflow-visible">
                                    <li class="active md:text-[16px]" id="tab_0">
                                        <a href="#tab_content_0">معرفی</a>
                                    </li>
                                    <li class="md:text-[16px]" id="tab_1">
                                        <a href="#tab_content_1">مخاطبین</a>
                                    </li>
                                    <li class="md:text-[16px]" id="tab_2">
                                        <a href="#tab_content_2">پیش نیازها</a>
                                    </li>
                                    <li class="md:text-[16px]" id="tab_3">
                                        <a href="#tab_content_3">سر فصل ها</a>
                                    </li>
                                    <li class="md:text-[16px]" id="tab_4">
                                        <a href="#tab_content_4">پس از دوره</a>
                                    </li>
                                    <li class="md:text-[16px]" id="tab_5">
                                        <a href="#tab_content_5">پروژه ها</a>
                                    </li>
                                    <li class="md:text-[16px]" id="tab_6">
                                        <a href="#tab_content_6">استاد دوره</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="w-[96%] mx-auto md:w-full">
                            <section class="mt-8" id="tab_content_0">
                                <h3 class="text-xl">معرفی دوره</h3>
                                <div class="mt-2 text-[#fff]">
                                    فریم‌ورک جنگو از محبوب‌ترین فریم‌ورک‌های پایتون برای توسعه‌ی بک‌اند وب‌سایت‌ها است.
                                    این
                                    فریم‌ورک به سرعت در حال رشد بوده و روزبه‌روز قابلیت‌های بیشتری به آن اضافه می‌شود.
                                    سادگی
                                    و انعطاف‌پذیری، از ویژگی‌های این فریم‌ورک هستند. اگر به توسعه‌ی بک‌اند علاقه‌مندید،
                                    در
                                    انتخاب این مسیر آموزشی شک نکنید. در این مسیر، ابتدا زبان پایتون را به‌عنوان یک زبان
                                    عام‌منظوره یاد می‌گیرید. در ادامه، فریم‌ورک جنگو و زیر و بم آن را خواهید آموخت. در
                                    این
                                    مسیر، با اصول توسعه‌ی نرم‌افزار نیز آشنا خواهید شد که از موارد مورد نیاز برای ورود
                                    به
                                    بازار کار هستند.
                                </div>
                                <div class="mt-6">
                                    <div class="flex flex-wrap justify-between items-start leading-5"> 
                                        <div class="flex items-start w-1/2 md:w-1/4 mb-4 md:mb-0">
                                            <div
                                                class="w-[37px] h-[70px] bg-[url('../images/f85-code_amooz.png')] bg-right-top bg-contain bg-no-repeat">
                                            </div>
                                            <div class="flex flex-col justify-between mr-2 h-full">
                                                <div class="font-[IRANYekanDigits] text-lg font-bold mb-4">
                                                    1219
                                                </div>
                                                <div class="text-[12px]">
                                                    کدآموز به این دوره اعتماد کرده‌اند
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex items-start w-1/2 md:w-1/4 mb-4 md:mb-0">
                                            <div
                                                class="w-[37px] h-[70px] bg-[url('../images/68d-Davari.png')] bg-right-top bg-contain bg-no-repeat">
                                            </div>
                                            <div class="flex flex-col justify-between mr-2">
                                                <div class="font-[IRANYekanDigits] text-lg font-bold mb-4">
                                                    152124
                                                </div>
                                                <div class="text-[12px]">
                                                    داوریِ موفق کدهای ارسال‌‌شده برای تمرین‌ها
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex items-start w-1/2 md:w-1/4">
                                            <div
                                                class="w-[37px] h-[70px] bg-[url('../images/c50-Poshtibani.png')] bg-right-top bg-contain bg-no-repeat">
                                            </div>
                                            <div class="flex flex-col justify-between mr-2">
                                                <div class="font-[IRANYekanDigits] text-lg font-bold mb-4">
                                                    565511
                                                </div>
                                                <div class="text-[12px]">
                                                    تعداد پاسخ‌های مربیان به سوالات کدآموزان
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex items-start w-1/2 md:w-1/4">
                                            <div
                                                class="w-[37px] h-[70px] bg-[url('../images/c38-emtiaz.png')] bg-right-top bg-contain bg-no-repeat">
                                            </div>
                                            <div class="flex flex-col justify-between mr-2">
                                                <div class="font-[IRANYekanDigits] text-lg font-bold mb-4">
                                                    4.7/5
                                                </div>
                                                <div class="text-[12px]">
                                                    امتیاز کدآموزها به راهنمایی‌های مربیان
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </section>
                            <section class="mt-[120px]" id="tab_content_1">
                                <div class="flex flex-col md:flex-row justify-between">
                                    <div class="order-2 md:order-1">
                                        <h3 class="text-xl">این دوره مناسب شماست اگر...</h3>
                                        <div class="mt-2 text-[#fff]">
                                            <ul class="list-disc list-inside">
                                                <li>مشتاقید به بازار پردرآمد برنامه‌نویسی و حوزه‌ی نرم‌افزار وارد شده و
                                                    آینده‌ی شغلی خود را رقم بزنید.</li>
                                                <li>برای پروژه‌های شخصی، دانشگاهی و یا کاری خود نیاز به یادگیری سریع
                                                    جنگو
                                                    دارید.</li>
                                                <li>می‌خواهید جنگو را به صورت عملی و یکبار برای همیشه به شکل اصولی
                                                    بیاموزید.
                                                </li>
                                                <li>علاقه‌مندید که رزومه کاری پُرباری برای خودتان بسازید تا بیشتر دیده
                                                    شوید.
                                                </li>
                                                <li>بازار کار و حقوق بالای برنامه‌نویسان در داخل و خارج ایران برایتان
                                                    جذاب
                                                    است.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="order-1 md:order-2">
                                        <img src="./assets/images/f3c-happy_contact.png" alt="">
                                    </div>
                                </div>
                                <div class="flex flex-col md:flex-row justify-between mt-12">
                                    <div>
                                        <img src="./assets/images/fbf-sad_contact.png" alt="">
                                    </div>
                                    <div class="mr-8">
                                        <h3 class="text-xl">این دوره کمکی به شما نمی‌کند اگر...</h3>
                                        <div class="mt-2 text-[#fff]">
                                            <ul class="list-disc list-inside">
                                                <li>هنوز فکر می‌کنید که شرکت‌ها برای استخدام به مدرک دانشگاهی شما توجه
                                                    می‌کنند.</li>
                                                <li>تجربه‌ی عملی چندین هزار خط کدنویسی برایتان ارزشی ندارد و فکر می‌کنید
                                                    تماشای ویدئوهای آموزشی به‌تنهایی شما را برنامه‌نویس می‌کند.</li>
                                                <li>هنوز برای آینده‌ی شغلی‌تان تصمیم جدی نگرفته‌اید.</li>
                                                <li>حاضر نیستید در هفته ۱۰ ساعت برای یادگیری، پیشرفت و رشد درآمدتان زمان
                                                    بگذارید.</li>
                                                <li>می‌خواهید جنگو را به طور سطحی و گذرا بیاموزید.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="mt-[100px]" id="tab_content_2">
                                <h3 class="text-xl mb-5">پیش نیازها</h3>
                                <div class="block md:flex mt-6">
                                    <div class="ml-12">
                                        <h4 class="text-xl mb-3">نیاز است</h4>
                                        <div class="flex items-center">
                                            <div>
                                                <img src="./assets/images/b91-check.png" alt="">
                                            </div>
                                            <div class="mr-2">علاقه و پشتکار داشته باشید.</div>
                                        </div>
                                        <div class="flex items-center">
                                            <div>
                                                <img src="./assets/images/b91-check.png" alt="">
                                            </div>
                                            <div class="mr-2">بر زبان پایتون مسلط باشید.</div>
                                        </div>
                                    </div>
                                    <div class="mt-4 md:mt-0">
                                        <h4 class="text-xl mb-3">نیاز نیست</h4>
                                        <div class="flex items-center">
                                            <div>
                                                <img src="./assets/images/f13-close.png" alt="">
                                            </div>
                                            <div class="mr-2">در رشته‌ی کامپیوتر تحصیل کرده باشید.</div>
                                        </div>
                                        <div class="flex items-center">
                                            <div>
                                                <img src="./assets/images/f13-close.png" alt="">
                                            </div>
                                            <div class="mr-2">دانش ریاضی قوی داشته باشید.</div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="accordion mt-[100px]" id="tab_content_3">
                                <h3 class="text-xl mb-5">سرفصل‌های دوره</h3>
                                <div class="item border-t border-t-white/20 py-4 px-3">
                                    <div class="flex justify-between w-full">
                                        <div class="text-sm">
                                            <i class="fa fa-plus"></i>
                                            <span class="pr-2">مقدمه دوره</span>
                                        </div>
                                        <div class="flex flex-row-reverse font-[IRANYekanDigits]">
                                            <div class="flex items-center border-r border-r-white/10 pr-3 mr-3">
                                                <div class="w-[18px]">
                                                    <img src="./assets/images/clock.786b8d03.png" alt=""
                                                        class="max-w-full">
                                                </div>
                                                <div class="text-xs mr-1">10 ساعت</div>
                                            </div>
                                            <div class="flex items-center border-r border-r-white/10 pr-3 mr-3">
                                                <div class="w-[18px]">
                                                    <img src="./assets/images/code.9a20acd5.png" alt=""
                                                        class="max-w-full">
                                                </div>
                                                <div class="text-xs mr-1">3 تمرین</div>
                                            </div>
                                            <div class="flex items-center">
                                                <div class="w-[18px]">
                                                    <img src="./assets/images/book.c6af6702.png" alt=""
                                                        class="max-w-full">
                                                </div>
                                                <div class="text-xs mr-1">7 درسنامه</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hide hidden mt-4">
                                        <div class="py-8 px-4 bg-[#1A202C]">
                                            <a href="#">
                                                <div
                                                    class="p-4 transition-colors bg-transparent hover:bg-slate-900 text-white">
                                                    <div class="flex justify-between items-center">
                                                        <div class="flex items-center">
                                                            <div
                                                                class="w-[22px] h-[22px] p-1 border border-white rounded-full">
                                                                <img src="./assets/images/book.c6af6702.png" alt=""
                                                                    class="max-w-full">
                                                            </div>
                                                            <div class="text-xs mr-1">پیش گفتار</div>
                                                        </div>
                                                        <div class="text-xs mr-1">درسنامه</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="mt-[100px]" id="tab_content_4">
                                <h3 class="text-xl">با گذراندن این دوره :</h3>
                                <div class="mt-2 text-[#fff]">
                                    <ul class="list-disc list-inside">
                                        <li>صدها خط کد زده‌اید و برنامه‌نویسی را به‌صورت عملی تجربه کرده‌اید.</li>
                                        <li>در گیت‌هاب و رزومه‌ی خود پروژه‌های سطح بالایی برای ارائه به‌عنوان
                                            نمونه‌کارتان
                                            دارید.</li>
                                        <li>پایه و اصول برنامه‌نویسی با فریم‌ورک جنگو را به‌خوبی فرا گرفته‌اید.</li>
                                        <li>برای مصاحبه‌‌ی فنی موقعیت‌های شغلی توسعه‌‌دهنده‌ی جنگو آمادگی بیشتری دارید.
                                        </li>
                                        <li>آمادگی انجام پروژه‌های شخصی و مستقل را دارید.</li>
                                    </ul>
                                </div>
                            </section>
                            <section class="mt-[100px]" id="tab_content_5">
                                <h3 class="text-xl mb-5">آنچه خواهید ساخت</h3>
                                <div class="flex">
                                    <div class="play p-3 bg-[#1a202c] rounded-md border border-[#2d3748] ml-2 transition-all hover:cursor-pointer hover:-translate-y-1 hover:shadow hover:shadow-gray-300/30"
                                        data-video="http://127.0.0.1:5500/assets/videos/panel.mp4"
                                        data-desc="از طریق ادمین پنل شخصی‌سازی‌شده‌ی توسعه داده‌شده توسط شما، کاربران، نیکوکارها و خیریه‌ها مدیریت خواهند شد.">
                                        <div class="mb-3">
                                            <img src="./assets/images/da6-admin_panel.png" alt="">
                                        </div>
                                        <h5 class="text-[#0099cc]">پروژه پنل ادمین</h5>
                                        <div class="text-xs">
                                            توضیحات ویدئو در این قسمت
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="mt-[100px]" id="tab_content_6">
                                <h3 class="text-xl">استاد و مربی این دوره</h3>
                                <div class="mt-6 p-4 border border-white/10 rounded-lg">
                                    <div class="flex items-start">
                                        <div>
                                            <img src="./assets/images/a.jpg" alt="" class="rounded-full">
                                        </div>
                                        <div class="mr-4">
                                            <h6 class="font-bold">مهدی آزادی</h6>
                                            <div class="p-1 bg-[#4a5568] text-xs rounded-md inline">پایتون - جنگو</div>
                                            <div class="mt-2 text-sm">توضیحات در این قسمت</div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
                <aside class="w-full md:w-[300px] sticky md:static bottom-0">
                    <div class="md:sticky md:top-0 bg-black/25 backdrop-blur-md md:bg-none py-2 md:py-0">
                        <div class="p-3 md:bg-black/5 md:rounded-md">
                            <img src="./assets/images/django.jpg" alt="django" class="rounded-md hidden md:block">
                            <div class="my-4 text-[15px] hidden md:block">
                                جامپ بک‌اند با جنگو
                            </div>
                            <hr class="border-t-white/10 mb-4 hidden md:block">
                            <div class="md:text-[14px] text-white/70 flex md:block justify-center items-center">
                                <div class="flex items-center ml-3 md:ml-0">
                                    <div class="fa fa-tasks text-[22px]"></div>
                                    <div class="font-[IRANYekanDigits] pr-2">20 فصل</div>
                                </div>
                                <div class="flex items-center md:mt-3 ml-3 md:ml-0">
                                    <div class="fa fa-sticky-note text-[22px]"></div>
                                    <div class="font-[IRANYekanDigits] pr-2">45 تمرین</div>
                                </div>
                                <div class="flex items-center md:mt-3">
                                    <div class="fa fa-check-circle-o text-[22px]"></div>
                                    <div class="font-[IRANYekanDigits] pr-2">گواهی معتبر</div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3 md:mt-6 flex justify-center">
                            <a href="#"
                                class="w-[200px] md:w-full py-2 rounded-lg text-white text-center text-[18px] bg-[#0076a6]">ثبت
                                نام</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <section class="mt-[100px]">
        <div class="w-[95%] md:w-[70%] mx-auto">
            <div class="flex flex-wrap justify-between items-center">
                <div>
                    <img src="./assets/images/icons/bootstrap.png" alt="bootstrap"
                        class="w-[60px] md:w-[100px] h-auto transition-all opacity-80 hover:opacity-100 hover:-translate-y-2">
                </div>
                <div>
                    <img src="./assets/images/icons/js.png" alt="java script"
                        class="w-[60px] md:w-[100px] h-auto transition-all opacity-80 hover:opacity-100 hover:-translate-y-2">
                </div>
                <div>
                    <img src="./assets/images/icons/python.png" alt="python"
                        class="w-[60px] md:w-[100px] h-auto transition-all opacity-80 hover:opacity-100 hover:-translate-y-2">
                </div>
                <div>
                    <img src="./assets/images/icons/django.png" alt="django"
                        class="w-[60px] md:w-[100px] h-auto transition-all opacity-80 hover:opacity-100 hover:-translate-y-2">
                </div>
                <div>
                    <img src="./assets/images/icons/postgres.png" alt="postgresql"
                        class="w-[60px] md:w-[100px] h-auto transition-all opacity-80 hover:opacity-100 hover:-translate-y-2">
                </div>
            </div>
        </div>
    </section>
    <section class="mt-[100px]">
        <div class="container md:w-[60%] text-center">
            <h2 class="text-[24px] md:text-[32px]">روی خودت سرمایه‌گذاری کن</h2>
            <div class="mt-3">پاسخ وارن بافت، سرمایه‌گذار و کارآفرین معروف به مصاحبه‌کننده‌ای که دنبال بهترین
                روش سرمایه‌گذاری بود.</div>
            <div class="flex flex-wrap justify-between items-start mt-10">
                <div class="flex flex-col justify-center items-center w-1/2 md:w-auto mb-4 md:mb-0">
                    <div>
                        <img src="./assets/images/online.746b63ed.png" alt="">
                    </div>
                    <div class="mt-2 text-lg md:text-xl font-bold">کاملا آنلاین</div>
                </div>
                <div class="flex flex-col justify-center items-center w-1/2 md:w-auto mb-4 md:mb-0">
                    <div>
                        <img src="./assets/images/industry.24e8d331.png" alt="">
                    </div>
                    <div class="mt-2 text-lg md:text-xl font-bold">نزدیک به صنعت</div>
                </div>
                <div class="flex flex-col justify-center items-center w-1/2 md:w-auto">
                    <div>
                        <img src="./assets/images/support.23c449f9.png" alt="">
                    </div>
                    <div class="mt-2 text-lg md:text-xl font-bold">پشتیبانی همه‌روزه</div>
                </div>
                <div class="flex flex-col justify-center items-center w-1/2 md:w-auto">
                    <div>
                        <img src="./assets/images/cert.14265e1b.png" alt="">
                    </div>
                    <div class="mt-2 text-lg md:text-xl font-bold">گواهی پایان‌دوره</div>
                </div>
            </div>
            <div class="mt-10">
                <div class="flex justify-between text-md md:text-lg">
                    <div>
                        مدت زمان گذراندن دوره: ۲۱ هفته<span> (قابل تمدید)</span>
                    </div>
                    <div>
                        زمان پیشنهادی برای یادگیری: ۶-۷ ساعت در هفته
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-10">
            <div class="py-3 md:py-0 md:h-[200px] bg-[#1a202c]">
                <div class="h-full flex justify-center items-center flex-col md:flex-row">
                    <img src="./assets/images/certThumb.4e9bbb2a.png" alt="" class="block">
                    <div class="mt-3 md:mt-0 md:mr-[80px] text-center">
                        <div class="text-3xl font-bold">۱٫۳۹۹٫۰۰۰ تومان</div>
                        <a href="#"
                            class="block mt-4 w-[250px] py-2 rounded-lg text-white text-center text-[22px] bg-[#0076a6]">ثبت
                            نام</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-[100px]">
        <div class="container md:w-[60%]">
            <div class="text-center text-xl md:text-3xl font-bold">سوالات متداول</div>
            <div class="accordion fal mt-6">
                <div class="item bg-[#1a202c] py-4 px-3 border border-[#2d3748]">
                    <div class="flex justify-between items-center">
                        <div>عنوان سوال</div>
                        <div>
                            <i class="fa fa-plus text-sm"></i>
                        </div>
                    </div>
                    <div class="hide mt-6 hidden">جوابش</div>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-[100px]">
        <div class="container md:w-[60%]">
            <article>
                <h1 class="text-2xl font-bold text-center">آموزش جنگو</h1>
                <p class="mt-15 all-rev">
                <h2>سلام</h2>
                </p>
            </article>
        </div>
    </section>
    <footer class="mt-[100px]">
        <div class="bg-[#2D3748]">
            <div class="container w-[80%]">
                <div class="py-4 md:py-[50px]">
                    <div class="flex flex-wrap justify-between items-start">
                        <div class="w-full md:w-[80px] flex md:block justify-center mb-4 md:mb-0">
                            <img src="./assets/images/logo.2-37f748b73943.svg" alt="" class="max-w-full max-h-[100px]">
                        </div>
                        <div class="mx-8 mb-4 md:mb-0">
                            <h6 class="mb-4 font-bold text-[15px]">محصولات</h6>
                            <ul>
                                <li>
                                    <a href="#">لینک مورد نظر</a>
                                </li>
                                <li>
                                    <a href="#">لینک مورد نظر</a>
                                </li>
                                <li>
                                    <a href="#">لینک مورد نظر</a>
                                </li>
                            </ul>
                        </div>
                        <div class="mx-8 mb-4 md:mb-0">
                            <h6 class="mb-4 font-bold text-[15px]">محصولات</h6>
                            <ul>
                                <li>
                                    <a href="#">لینک مورد نظر</a>
                                </li>
                                <li>
                                    <a href="#">لینک مورد نظر</a>
                                </li>
                                <li>
                                    <a href="#">لینک مورد نظر</a>
                                </li>
                            </ul>
                        </div>
                        <div class="mx-8 mb-4 md:mb-0">
                            <h6 class="mb-4 font-bold text-[15px]">منابع</h6>
                            <ul>
                                <li>
                                    <a href="#">لینک مورد نظر</a>
                                </li>
                                <li>
                                    <a href="#">لینک مورد نظر</a>
                                </li>
                                <li>
                                    <a href="#">لینک مورد نظر</a>
                                </li>
                            </ul>
                        </div>
                        <div class="mx-8 mb-4 md:mb-0">
                            <h6 class="mb-4 font-bold text-[15px]">رویدادها</h6>
                            <ul>
                                <li>
                                    <a href="#">لینک مورد نظر</a>
                                </li>
                                <li>
                                    <a href="#">لینک مورد نظر</a>
                                </li>
                                <li>
                                    <a href="#">لینک مورد نظر</a>
                                </li>
                            </ul>
                        </div>
                        <div class="mx-8 w-full md:w-[200px] mb-4 md:mb-0">
                            <div class="w-[90px] mx-auto">
                                <img src="./assets/images/star1.png" alt="" class="max-w-full h-auto">
                            </div>
                            <div class="mt-4">
                                <div class="flex justify-between">
                                    <div class="text-xl">
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </div>
                                    <div class="text-xl">
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="text-xl">
                                        <a href="#">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </div>
                                    <div class="text-xl">
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                    <div class="text-xl">
                                        <a href="#">
                                            <i class="fa fa-telegram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <p class="text-xs text-center">متن کپی رایت در این قسمت</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'asse/scripts/jquery-3.6.3.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            //accordion menu
            $(".accordion .item").click(function (e) {
                let icon = $(this).find("i");
                let isOpen = icon.hasClass("fa-plus") ? false : true;
                $(this).children(".hide").slideToggle();

                if (isOpen) {
                    icon.removeClass("fa-minus");
                    icon.addClass("fa-plus");
                } else {
                    icon.removeClass("fa-plus");
                    icon.addClass("fa-minus");
                }
            });

            $(".play").click(function (e) {
                let url = $(this).data('video');
                let desc = $(this).data('desc');

                $("#overlay").fadeIn(100);
                $("#preview").html(
                    `
                    <div class="p-4 bg-[#2D3748] rounded-md shadow-md fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20">
                        <div class="text-lg mb-3">
                            <i class="fa fa-close cursor-pointer close-it"></i>
                        </div>
                        <video controls autoplay class="w-full h-full">
                            <source src="${url}" type="video/mp4">
                        </video>
                        <div class="mt-3">
                            ${desc}
                        </div>
                    </div>
                    `
                ).fadeIn(100);
            });

            $("#overlay").click(function (e) {
                $("#preview").html('').fadeOut(100);
                $(this).fadeOut(100);
            });

            $(document).on('click', ".close-it", function () {
                $("#overlay").trigger("click");
            });
        });

        let tabs = [];
        let tabs_pass = [];

        for (i = 0; i <= 12; i++) {
            if (typeof $("#tab_content_" + i).offset() === 'undefined')
                break;

            tabs.push($("#tab_content_" + i).offset().top);
            tabs_pass.push(false);
        }

        $(window).scroll(function () {
            let pos = $(this).scrollTop() + 100;

            if (pos >= tabs[0] && !tabs_pass[0]) {
                tabs_pass[0] = true;
            } else if (pos <= tabs[0] && tabs_pass[0]) {
                tabs_pass[0] = false;
            }

            for (j = 0; j <= tabs.length; j++) {
                if (pos >= tabs[j] && !tabs_pass[j]) {
                    unActive();
                    active("tab_" + j);
                    tabs_pass[j] = true;
                } else if (pos <= tabs[j] && tabs_pass[j]) {
                    unActive();
                    active("tab_" + (j - 1));
                    tabs_pass[j] = false;
                }
            }
        });

        function active(id) {
            $("#" + id).addClass("active");
        }

        function unActive() {
            $(".content-links ul li").removeClass("active");
        }
    </script>
    <div id="overlay" class="w-full h-full fixed top-0 left-0 bg-black/40 z-10 hidden"></div>
    <div id="preview" class="hidden"></div>
</body>

</html>